<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div>
		<a href="/">Accueil</a> &nbsp;
		<a href="/consultants">Les Consultants</a>&nbsp;
	</div>
	<hr />
    {{{body}}}
  </body>
</html>
